/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    height: 100%;
    font-family: sans-serif;
    font-size: 1em;
    -ms-text-size-adjust: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 1 */

    /* Dark navy. Maybe some day
    --bg-color: #1b1a2e; */

    --bg-color: black;
    background-color: var(--bg-color);
    --fg-color: #a89984;
    color: var(--fg-color);
}

body {
    height: 98%;
    display: grid;
    place-items: center;
    margin: .5em;

    /* home button, content, home button */
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration-color: var(--fg-color);
    color: var(--fg-color);
}

a.social {
    text-decoration: none;
}

h1 {
    font-size: 1.7em;
}

p {
    line-height: 1.4em;
}

/*
 * Regular old images in posts should take up the width set by the content div.
 */
img {
    width: 100%;
}

img:not(.fg-svg) {
    border: 1px solid var(--fg-color);
}

hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: var(--fg-color);
    opacity: .5;
}

#content {
    display: grid;
    max-width: 60ch;
    justify-items: stretch;
}

/*
 * SVGs that should be foreground-colored. They all also happen to be links.
 */
.fg-svg {

    /*
     * This gets all the svgs to the right color for the --fg-color: #a89984
     * Used https://codepen.io/sosuke/pen/Pjoqqp to convert hex to a filter.
     */
    filter: invert(70%) sepia(27%) saturate(244%) hue-rotate(355deg) brightness(84%) contrast(84%);

    width: 1.5em;

    /* Easier on thumbs fro these links. */
    padding: .5em;
}


#profile-pic-div {
    margin: auto;
}

#profile-pic {
    max-width: 150px;
}

#social-div {
    margin: 0 0 0 auto;
}

.home-link {
    margin: 0 0 0 auto;
}

#created {
    font-size: .9em;
    margin: 0 0 0 auto;
}

/*
 * Set scrollbar colors in MacOS. Not testing in other OSes.
 * https://gist.github.com/spemer/a0e218bbb45433bd611e68446523a00b
 */

/* total width */
body::-webkit-scrollbar {
    background-color: var(--bg-color);
    width:16px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: var(--bg-color);;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: var(--fg-color);
    border-radius:16px;
    border:4px solid var(--bg-color);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

/*
 * Done setting scrollbar stuff.
 */
