html {
    height: 100%;
    font-family: sans-serif;
    font-size: 1.05em;

    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -ms-text-size-adjust: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 1 */

    /* Dark navy. Maybe some day
    --bg-color: #1b1a2e; */

    --bg-color: #042a34;
    --fg-color: hsl(48, 20%, 73%);
    font-weight: 300;

    background-color: var(--bg-color);
    color: var(--fg-color);

    --card-vertical-margin: 3em;

    --max-width: 65ch;
}

.light {
    --bg-color: white;
    --fg-color: #004717;
    font-weight: 400;
}

body {
    height: 98%;
    display: grid;
    place-items: center;
    margin: .5em;

    /* top nav, content, bottom nav */
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration-color: var(--fg-color);
    color: var(--fg-color);
}

h1 {
    font-size: 1.7em;
}

h1, h2 {
    font-weight: normal;
}

p {
    line-height: 1.4em;
}

/*
 * Regular old images in posts should take up the width set by the content div.
 */
img {
    width: 100%;
}

img:not(.fg-svg) {
    border: 0.05em solid var(--fg-color);
}

hr {
    border: 0;
    width: 100%;
    height: 0.05em;
    background: var(--fg-color);
    opacity: .5;
}

#about-me-svg-div {
    display: grid;
    place-items: center;

    /* that em in there is using dummy divs to create a padding effect */
    grid-template-columns: repeat(6, minmax(0, 1fr) 0.2em) minmax(0, 1fr);
}

svg.about-me {
    --about-me-size: 4em;
    width: var(--about-me-size);
    height: var(--about-me-size);
    max-width: 100%;
    box-sizing: border-box;
}

/* Some of these are big compared to the others. So we use padding to get them smaller. */
#about-me-oh {
    padding: 8%;
}

#about-me-cpu {
    padding: 10%;
}

#about-me-martini {
    padding: 11%;
}

#about-me-soccer {
    padding: 10%;
}

a.svg-button {
    text-decoration: none;

    /*
     * Prevent the link you are tapping on chrome from turning blue.
     */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg.svg-button {
    --svg-button-size: 1.5em;
    width: var(--svg-button-size);
    height: var(--svg-button-size);

    /* Easier on thumbs for tapping links. */
    padding: .5em;

    fill: var(--fg-color);
}

#content {
    display: grid;
    padding: 0 .5em 0 .5em;
    justify-items: center;
}

#content h1 {
    margin-right: auto;
    max-width: var(--max-width);
}

#created {
    font-size: .9em;
    margin-right: auto;
    max-width: var(--max-width);
}

#content-text {
    max-width: var(--max-width);
    padding-top: 2em;
}

.card {
    border: 0.05em solid var(--fg-color);
    border-radius: 1em;

    --card-side-padding: 1.3em;
    padding: 0 var(--card-side-padding) 0 var(--card-side-padding);

    margin: var(--card-vertical-margin) 0 var(--card-vertical-margin) 0;
}

.card-container {

    /* Removes excessive top and bottom margins around a set of cards. */
    --card-container-vertical-margin: calc(-.5 * var(--card-vertical-margin));
    margin: var(--card-container-vertical-margin) 0 var(--card-container-vertical-margin) 0;
}

#profile-pic-div {
    border: 0.05em solid var(--fg-color);
    margin: auto;
    --prof-pic-max-width: 12em;
    max-width: var(--prof-pic-max-width);
}

#profile-pic {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

#social-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#social-buttons-div {
    margin: 0 0 0 auto;
}

.top-nav {
    margin: 0 0 0 auto;
}


/*
 * Set scrollbar colors in MacOS. Not testing in other OSes.
 * https://gist.github.com/spemer/a0e218bbb45433bd611e68446523a00b
 */

/* total width */
body::-webkit-scrollbar {
    background-color: var(--bg-color);
    width:1em;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: var(--bg-color);;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: var(--fg-color);
    border-radius:1em;
    border:0.25em solid var(--bg-color);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

/*
 * Done setting scrollbar stuff.
 */

#email-svg path {
	--mail-w: 70%;
	--mail-h: 45%;
	--mail-tip-y: .6; /* Mail tip distance from top of mail as fraction of mail height. */
	--mail-tip-width: .15; /* Thickness of folded tip as fraction of mail height. */

	--mail-top-y: calc((100% - var(--mail-h)) / 2);
	--mail-bottom-y: calc(100% - var(--mail-top-y));
	--mail-left-x: calc((100% - var(--mail-w)) / 2);
	--mail-right-x: calc(100% - var(--mail-left-x));

	--fold-width: var(--mail-h) * var(--mail-tip-width);
	--fold-bottom-y:
	  calc(var(--mail-top-y) + (var(--mail-tip-y) * var(--mail-h)));
	--fold-top-y: calc(var(--fold-bottom-y) - var(--fold-width));

	--fold-outer-y: calc(var(--mail-top-y) + var(--fold-width));

	clip-path: polygon(
		0% 0%,
		var(--mail-left-x) var(--mail-top-y),
		50% var(--fold-top-y),
		50% var(--fold-bottom-y),
		var(--mail-left-x) var(--fold-outer-y),
		var(--mail-left-x) var(--mail-bottom-y),
		var(--mail-right-x) var(--mail-bottom-y),
		var(--mail-right-x) var(--fold-outer-y),
		50% var(--fold-bottom-y),
		50% var(--fold-top-y),
		var(--mail-right-x) var(--mail-top-y),
		var(--mail-left-x) var(--mail-top-y),
		0% 0%,
		100% 0%,
		100% 100%,
		0% 100%,
		0% 0%);
}

